<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Geosolution-Mapping points</title>
        <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
            <link href="{{STATIC_URL}}lib/dist/css/bootstrap.css" rel="stylesheet">
            
            <!--<link rel="stylesheet" href="{{STATIC_URL}}lib/leaflet.css"  rel="stylesheet"/>-->
                <script src='http://api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
        <link href='http://api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
            
            <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
        </head>
        <body>
            <!-- List of uploaded documents -->
            <div id='sidebar'>
                
                </div>
                
                        <div id="map"></div>
        </body>
        <!-- Leafle +geocsv  JS files -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!--<script src="{{STATIC_URL}}lib/leaflet-src.js"></script>-->
        <!-- bootstrap JS files -->
        
        <script src="{{STATIC_URL}}lib/dist/js/bootstrap.min.js"></script>
        <!-- End bootstrap JS files -->
        <!-- Custom JS -->
        <script src="{{STATIC_URL}}js/app.js"></script>
        <!-- End Custom JS -->
    </html>